.button_pres {
	display: none;
}

.menu__sub {
	padding: 20px 18px 12px !important;
}

.menu__subDescr {
    margin-bottom: 20px !important;
}
	
.popupForm {
	box-shadow: 0 0 22px 0 #9a9a9a;
}

.contacts-text {
    padding-right: 30px;
    font-size: 16px;
}

.contacts-text-head {
	padding-right: 30px;
    font-size: 16px;
}

.content li {
    margin: 10px 0;
}

.content ul {
    margin-bottom: 30px;
}

.al_right {
	text-align: right;
}

.toolBlock__flex1-3 {
    -webkit-box-flex: 0;
    flex: 0 0 36%;
    padding-right: 12px;
}

	.toolBlock__flex1-3 p {
		margin-top: 7px;
		/*
		font-size: 15px;
		font-weight: 200;
		*/
	}

.toolBlock__flex2-3 {
	-webkit-box-flex: 0;
    flex: 0 0 8%;
	margin-top:0px;
}

	.smm-logo {
		margin-top: 10px;
	}

	.icon-mb {
		margin: 7px 0 0 0;
	}

.toolBlock__flex3-3 {
    -webkit-box-flex: 0;
    flex: 0 0 48%;
}

.item_percent {
	font-size: 70px;
}

.catalog__itemHeader {
	font-size: 16px;
    text-transform: uppercase;
    line-height: 1.45;
	margin-top: 40px;
}

.catalog__itemText {
	font-size: 15px;
}

.case__iconHeader {
		font-size: 24px;
    margin-bottom: 9px;
}

.case__iconText {
    font-size: 18px;
    line-height: 1.35;
    color: #757575;
}

.case__partContent a{
    color: #4cc2c0;
    text-decoration: none;
}

.margin-left-null {
	margin-left: 0px;
}

.without-padding-bottom {
	padding-bottom: 10px;
}

.cases_margin {
	height:60px;
}

.contacts__iconTop {
	font-size: 21px;
}

.contacts__iconBottom {
    line-height: 21px;
}